body {
    background-color: #fafafa;
    font-family: "Helvetica Neue";
}

.mainContainer {
    display: grid;
    align-content: center;
    justify-content: center;
    margin-top: 5%;
    grid-template-columns: 55%;
    grid-template-rows: auto auto;
}

.loginContainer {
    display: inline-grid;
    grid-row: 1 / span 1;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;
}

#img {
    text-align: center;
    grid-column: 1 / span 1;
}

#login {
    height: 100%;
    grid-column: 2 / span 1;
    text-align: center;
}

#login img {
    width: 30%;
    padding: 5px;
}

#login #usernamePW p {
    color: #919191;
}

#login #usernamePW {
    height: 55%;
    padding-bottom: 10px;
    margin-top: 20%;
    margin: 25px 35px 25px 35px;
    background-color: white;
    text-align: center;
    border: 1px solid #dbdbdb;
}

#login #usernamePW img {
    width: 40%;
    padding: 30px 10px 20px 10px;
}

#login input {
    width: 75%;
    background-color: #fafafa;
    height: 35px;
    margin-bottom: 5px;
    padding: 3px;
    font-size: 14px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}

#submitLogin {
    background-color: #bde1fc!important;
    border: none!important;
    color: white!important;
    border-radius: 5px;
}

#login button {
    margin-top: 10px;
    width: 75%;
    height: 30px;
    background-color: #bde0fc;
    border: 1px solid #bde0fc;
    border-radius: 5px;
}

#login a button {
    color: white;
    font-weight: bold;
    font-size: 14px;
}

#login #fb {
    color: #385185;
    text-decoration: none;
    font-weight: bold;
}

#login #fb img {
    display: inline-block;
    width: 15px;
    padding: 0px!important;
    vertical-align: text-top;
}

#login #forgot {
    color: #385185;
    text-decoration: none;
    font-size: 13px;
}

#login #signup {
    margin: 25px 35px 25px 35px;
    background-color: white;
    border: 1px solid #dbdbdb;
}

#login #signup a {
    color: #0998f5;
    text-decoration: none;
    font-weight: bold;
}


.footerContainer {
    text-align: center;
    grid-row: 2 / span 1;
    color: #919191;
    font-size: 13px;
    margin-top: 20%;
}

#links a {
    font-size: 13px;
    padding: 5px;
    text-decoration: none;
    color: #919191;
}

